auto-save-list/
elpa/
site-lisp/package/
.git/

custom.el
*~
amx-items
company-statistics-cache.el
.session
recentf
/url/cache/
/request/
/transient/
bookmarks
*.db
*.org-id-locations
tramp
# Dump custom.el
to-be-dumped.el
places
