auto-save-list/
elpa/
site-lisp/package/
.git/

custom.el
*~
amx-items
company-statistics-cache.el
.session
recentf
/url/cache/
/request/
/transient/
/var/
bookmarks
*.db
*.org-id-locations
tramp
# Dump custom.el
to-be-dumped.el
places

rime/build/
rime/installation.yaml
rime/luna_pinyin.userdb
rime/user.yaml
